<template>
    <Head title="Chats"/>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Chats</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="flex">
                        <div class="w-1/2 mr-4 border border-gray-700 p-2">
                            <h3 class="text-gray-700 mb-4">Chats</h3>
                            <div v-if="chats">
                                <div v-for="chat in chats" class="pb-4 mb-4 border-b border-gray-400">
                                    <Link :href="route('chats.show', chat.id)">
                                        <div>
                                            <div>
                                                <div class="flex">
                                                    <p class="mr-2">{{ chat.id }} </p>
                                                    <p class="mr-4">{{ chat.title ?? 'Your chat' }}</p>
                                                </div>
                                                <div :class="chat.unreadable_count !== 0 ? 'bg-sky-50' : ''" class="p-4 flex justify-between items-center">
                                                    <div class="text-sm">
                                                        <p class="text-gray-700">{{ chat.last_message.user.name }}</p>
                                                        <p class="mb-2 text-gray-500">{{ chat.last_message.body }}</p>
                                                        <p class="italic text-gray-400">{{ chat.last_message.time }}</p>
                                                    </div>
                                                    <div>
                                                        <p class="text-xs rounded-full bg-sky-500 text-white px-2 py-1 mr-2">{{ chat.unreadable_count ?? 0 }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </Link>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2 p-2 border border-gray-700">
                            <h3 class="text-gray-700 mb-4">Users</h3>
                            <div v-if="users">
                                <div v-for="user in users" class="flex items-center pb-4 mb-4 border-b border-gray-400">
                                    <p class="mr-2">{{ user.id }} </p>
                                    <p class="mr-4">{{ user.name }}</p>
                                    <a @click.prevent="store(user.id)"
                                       class="inline-block back text-white text-xs px-3 py-2 rounded-lg btn-send-message">Send
                                        message</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import {Head, Link} from '@inertiajs/vue3';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
export default {
    name: 'Index',
    props: [
        'users',
        'chats'
    ],
    data() {
        return {
            userIds: [],
            title: null
        }
    },
    created() {
        window.Echo.private(`users.${this.$page.props.auth.user.id}`)
            .listen('.store-message-status', res => {
                this.chats.filter(chat => {
                    if (chat.id === res.chat_id) {
                        chat.unreadable_count = res.count
                        chat.last_message = res.message
                    }
                })

            })
    },
    components: {
        Link,
        Head,
        AuthenticatedLayout
    },
    methods: {
        store(id) {
            this.$inertia.post('/chats', {
                title: null,
                users: [id]
            });
        }
    }
}
</script>

<style scoped>
.btn-send-message {
    background-color: skyblue;
    cursor: pointer;
}
</style>
