<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head} from '@inertiajs/vue3';
</script>

<template>
    <slot/>
</template>

<script>
import {Link} from '@inertiajs/vue3';

export default {
    name: 'Main',
    components: {
        Link
    }
}
</script>

<style scoped>


</style>
